language: java
cache:
  directories:
  - "$HOME/.m2"
jdk:
- oraclejdk8
sudo: required
services:
- docker
script:
- docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD --password-stdin
- mvn clean package dockerfile:build dockerfile:push
before_install:
- chmod +x mvnw

notifications:
  email:
    on_success: never
    on_failure: never
env:
  matrix:
  - secure: RS3Cg092nwqOIFkwuCL/78BK/tliNcwGzNMcp0FkeGFrUpY1dnxbo84gFPkYsr1VGHXURdQhpWgYWgk5iXYnkZCdaHIfZk0PrtkZVTZCmlPXVYj3qkKD4l4lV7hPBctizaYN841u4ZvTOjS8mfSqiTUbTZN+osRg9Qt6W3eH6PMnD85lXsNlrrmg/bNggDy6djoAJnWc9cV5qhUr7aNLp3iUJirySHxytoLJWHwtL88p9vrJmKIAdecO4WpQ3CGxh7mmSdFZhcIIxrchxK2jc7S+9bM9TjJaDK+MewCBqzI3g5YVzbIoNasy1e7PYsGVmq1f4Gnyhb/Ev/mpgcFVO6PVc8C4fTBbGAAe6mUFrVZMx792IYFMyWUUn+NxUH3QUSQIarB1WkX3lOsgY9ZQ5hsJGuoZ7t+jsgaZ2UVuVpTa16hkT8hCZ1jJOiW4szUB+SVda1nUql5anmtiqefjl1cxR6Hs+Ma9lgLl4pnqIwFWhIDIQonnGX1yTTofHh1w6K0xn4vVYkjPwG+iMYY5sIQvzQ7//eMpAES4g7ss/M7b3nBCnAuQuuRiqPwvXqSUe7PE1Z3tr+jDJKRPPnyiQG2ApLDo+bwaVXVea+WQUj3Haj1SSJZ18JXCOW3XH8vwdkXsjdFJ3YG/s4BmayD94oQuJ5qjYGlmwdEN3lbW5rc=
  - secure: hFybq4VIMGVP4vDSgsX6TBmsQwpRPhI8dSLlQ8cK1mJs4KREbjgirTpdm3h5+vpgaSZxPL9Yrc0Ln13LzeoRcuT3VPWYqEkNZUX5oywzlALsoILLaBbc0gloHDLVFnGPr40qQeJdNAHybPxFcCh0mKMzgT/35fBUuJlh2qyEyxicFDyS+eabK5AGrEVomIrNK2ljLikX3ktpKe+TXKS6rGpBdZx+XUkKIPypW651Bey4/7U2XpQy0Sm0I2NBY0/87yZQhpTYp8Qes6g+XvSrjZYv8wlYd5VGx/qu4y+h8ubPgB77RrVth9qNoqOsTO4olDrbgOfamW+hvgEuvMJDrnHUtnP4SfTYT1hTV+FmL94ySm9CLs0BmGcZvqFsEDW6dg0AMIIMC8A29I0TQ7654lFxPBT2aleZt3B3SWZtSoIkoTeSlXST1gGiArB67KvlN88gcQWT0ZPBilwmihJ1DHGk1IZEsykBxwWQ5XK51ED/geFqJ0dh0JnoWROKT0ncoXqu1xk6qG056npqwx2SWU7Tu9ro3FF1mewRtKO+NXBejB3Z+tFsEL0U3e56T7CK4S2l7LJ8afooy0DExw/wFAaMknUQsDiRsHS7Paz82m8bAe3gK/2DedYwwRCSA70QNDxCUQQL+oHmfzanRoMabDLVPBguJuwqn1XnGeoXwPg=
